/* Font Import */
@font-face {
    font-family: 'Magilio';
    src: url('fonts/MagilioRegular-Yzv2O.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: white;
    color: #333;
}

/* Titles Styling */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Magilio', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Welcome Page Styles */
.welcome-container {
    position: relative;
    text-align: center;
    margin-top: 20%;
}

.large-nav-icon {
    width: 300px;
    height: 300px;
    cursor: pointer;
    transition: transform 1s, top 1s, left 1s, width 1s, height 1s;
}

.large-nav-icon:hover {
    transform: rotate(-5deg);
}

.overlay-text-welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Magilio', sans-serif;
    font-size: 36px;
    color: #333;
    pointer-events: none;
    z-index: 2;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: #fff;
    pointer-events: none;
    z-index: 2;
}

/* Animation for moving nav icon to top left */
.move-to-top-left {
    position: fixed !important;
    top: 10px !important;
    left: 10px !important;
    width: 95px !important;
    height: 95px !important;
    transform: rotate(360deg) !important;
}

/* Navigation Icon Styles */
.nav-icon {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.small-nav-icon {
    width: 85px;
    height: 85px;
    cursor: pointer;
}

.nav-icon img {
    transition: transform 0.5s;
}

/* Navigation Menu Styles */
.nav-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 55px;
    list-style: none;
    margin: 0;
    padding: 30;
}

.nav-menu li {
    margin: 10px 0;
}

/* Bubble Menu Styles */
.nav-menu li a {
    display: block;
    padding: 10px 20px;
    background-color: #fdebd0; 
    border-radius: 25px;
    color: #333;
    white-space: nowrap; 
}

.nav-menu li a:hover {
    background-color: #fbd6a1; 
}

/* Show menu on hover */
.nav-icon:hover .nav-menu {
    display: block;
}

/* Icon Spin on Hover  */
.nav-icon img.spinning {
    transform: rotate(360deg);
}

/* Section Styles */
.section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.section-content {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.section-content h1 {
    margin: 0;
    font-size: 48px;
    color: #fff;
}

/* Content Section Styles */
.content-section {
    padding: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    border-radius: 8px;
    padding: 20px;
}

.about-content .headshot {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    padding: 20px;
    margin-left: 30px;

}

/* Projects Container */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

/* Project Item */
.project-item {
    flex: 1 1 calc(33.333% - 40px); 
    box-sizing: border-box;
    max-width: calc(33.333% - 40px);
    background-color: #fdf6e3;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.project-item h2 {
    margin-top: 15px;
    font-size: 24px;
    color: #333;
}

.project-item p {
    font-size: 16px;
    color: #666;
}

.github-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #fdebd0;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
}

.github-link:hover {
    background-color: #fbd6a1;
}


/* education styles */
.edu-content-section {
    padding: 50px;
    margin: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Photos */
.education-photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.photo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.education-photo {
    width: auto;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.photo-caption {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    text-align: center;
}

/* Intro Container */
.intro-container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto 40px;
}

.intro-container .education-photos,
.intro-container .intro-text {
    flex: 1;
}

/* Courses Container */
.courses-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    max-width: 1200px;
    margin: 40px auto 0 auto;
}

.course-item {
    width: 100%;
    background-color: #fdf6e3;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
}


/* About and Certifications Section */
.about-certifications-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

/* About Me Section */
.about-content {
    flex: 1;
}

/* Certifications Section */
.certifications-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    max-width: 500px;
    margin-left: auto;  
    margin-right: auto;
}

/* Icon Title */
.icon-title {
    text-align: left;
}

/* Skills Section */
.skills-section {
    text-align: center;
    margin-top: 20px;
    margin-left: 70px;
    margin-right: 70px;

}

/* Skills Container */
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); 
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
}

/* Skill Item */
.skill-item {
    font-size: 12px;
    align-items: center;
}

/* Skill Item Image */
.skill-item img {
    margin-bottom: 5px;
    height: 30px;
    width: auto;
}

/* Certifications Container */
.certifications-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.certification-item {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    justify-content: flex-start;
    
}

.certification-item img {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.certification-item span {
    font-size: 16px;
    color: #333;
}

/* About Text */
.about-text {
    max-width: 600px; 
    color: #333;
    padding: 10px; 
    margin: 0 auto; 
}
.about-text p {
    font-size: 16px; 
    line-height: 1.6; 
}

/* Inspiration Sections */
.inspiration-sections {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.books-section, .authors-section {
    flex: 1 1 100%;
    max-width: 500px;
}

.books-container, .authors-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book-item, .author-item {
    width: calc(50% - 20px);
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.book-item img, .author-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.book-item h3, .author-item h3 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.book-item p, .author-item p {
    font-size: 14px;
    color: #666;
}

/* Work Container */
.work-container {
    max-width: 800px;
    margin: 0 auto;
}

.work-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.company-logo {
    width: 150px;
    height: auto;
    margin-right: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.company-logo:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.work-details h2 {
    margin: 0 0 5px;
    font-size: 24px;
    color: #333;
}

.work-details .date {
    font-size: 14px;
    color: #999;
    margin-bottom: 10px;
}

.work-details ul {
    padding-left: 20px;
    color: #666;
}

.work-details ul li {
    margin-bottom: 5px;
}

/* Footer */
footer {
    background-color: #fdf6e3;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-content a {
    margin: 0 15px;
}

.footer-content img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

.footer-content img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 400px) {
    .project-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
    .course-item {
        max-width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .timeline-item {
        padding: 20px 30px;
    }
    .timeline-item::after {
        left: 31px;
    }
    .timeline-item .timeline-content {
        margin-left: 60px;
    }
    .work-item {
        flex-direction: column; 
        align-items: center;
        text-align: center;
    }

    .company-logo {
        margin-bottom: 15px;
        width: 200px;
        max-width: 100%;
    }

    .work-details {
        margin-top: 10px;
    }
}

@media screen and (max-width: 768px) {
    .project-item {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
    .inspiration-sections {
        flex-direction: column;
        align-items: center;
    }
    .books-section, .authors-section {
        max-width: 100%;
    }
    .book-item, .author-item {
        width: 100%;
    }
    .about-content {
        flex-direction: column; 
        align-items: center;
    }
    .project-item {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
    .inspiration-sections {
        flex-direction: column;
        align-items: center;
    }
    .books-section, .authors-section {
        max-width: 100%;
    }
    .book-item, .author-item {
        width: 100%;
    }
    .headshot {
        margin-bottom: 20px;
    }
    .about-text {
        text-align: center;  
    }
    .intro-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .education-photos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-text {
        margin-bottom: 20px;
    }

    .courses-container {
        grid-template-columns: 1fr;
    }

    .course-item {
        max-width: 90%;
    }
}

@media screen and (max-width: 1000px) {
    .content-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .intro-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .courses-container {
        margin-top: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .intro-container {
        flex-direction: column;
    }

    .intro-text {
        order: -1; 
        margin-bottom: 20px; 
    }
}

@media (max-width: 1280px) {
    .about-certifications-container {
        flex-direction: column; 
    }

    .certifications-section {
        max-width: 10000px;
        margin-bottom: 30px;
        margin-top: 0px;
    }

    .about-certifications-container {
        flex-direction: column; 
    }

    .skills-section {
        max-width: 600px;
        padding: 20px;
        margin: auto;
        text-align: center;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 20px; 
    }  
    
}


